body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 525px;
    width: 525px;
    margin: 10px;
}

.box{
    margin: 0px;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: thin;
    height: 30px;
    width: 30px;
}